.generation_box {
    border: 1px solid transparent;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.9em;
    line-height: 0.7em;
    padding: 0.3em;
    color: black;
}

.generation_box--red {
    background-color: #ff4444;
}

.generation_box--blue {
    background-color: #6792ff;
}

.generation_box--yellow {
    background-color: #ffff00;
}

.generation_box--gold {
    background-color: #e3c641;
}

.generation_box--silver {
    background-color: #c1ccd3;
}

.generation_box--crystal {
    background-color: #87cefa;
}

.generation_box--ruby {
    background-color: #bf0109;
    color: white;
}

.generation_box--sapphire {
    background-color: #3862ae;
    color: white;
}

.generation_box--emerald {
    background-color: #009a46;
    color: white;
}

.generation_box--firered {
    background-color: #dd7521;
}

.generation_box--leafgreen {
    background-color: #b9d101;
}

.generation_box--diamond {
    background-color: #84baf8;
}

.generation_box--pearl {
    background-color: #ddaaaa;
}

.generation_box--platinum {
    background-color: #aabbd1;
}

.generation_box--heartgold {
    background-color: #eedd82;
}

.generation_box--soulsilver {
    background-color: #b9d3ee;
}

.generation_box--black {
    background-color: black;
    color: white;
}

.generation_box--white {
    background-color: white;
    border-color: black;
}

.generation_box--black2 {
    background-color: black;
    color: #0084c9;
}

.generation_box--white2 {
    background-color: white;
    border-color: #ed1c24;
    color: #ed1c24;
}

.generation_box--black2 {
    background-color: black;
    color: #0084c9;
}

.generation_box--x {
    background-color: #dff3f4;
    border-color: #005e9b;
    color: #005e9b;
}

.generation_box--y {
    background-color: #e9b2bf;
    border-color: #871223;
    color: #871223;
}

.generation_box--omegaruby {
    background-color: #bf0109;
    border-color: #4f1734;
    color: #f8f688;
}

.generation_box--alphasapphire {
    background-color: #3862ae;
    border-color: #0a1535;
    color: #f8f688;
}

.generation_box--sun {
    background-color: #f2952d;
    border-color: #2d1515;
    color: #6f2637;
}

.generation_box--moon {
    background-color: #56a4d2;
    border-color: #1f1b2a;
    color: #2d2d5f;
}

.generation_box--ultrasun {
    background-color: #110b0d;
    border-color: #fa8e00;
    color: #fba81c;
}

.generation_box--ultramoon {
    background-color: #110b0d;
    border-color: #008cd9;
    color: #12a6df;
}

.generation_box--sword {
    background-color: #00aeef;
    border-color: #211d70;
    color: white;
}

.generation_box--shield {
    background-color: #ed1165;
    border-color: #790004;
    color: white;
}

.generation_box--brilliantdiamond {
    background-color: #c1f0fa;
    border-color: #006fb7;
    color: #0091ca;
}

.generation_box--shiningpearl {
    background-color: #e8c1c6;
    border-color: #6a337c;
    color: #6a337c;
}

.generation_box--scarlet {
    background-color: #d90b19;
    border-color: #652c32;
    color: #fff106;
}

.generation_box--violet {
    background-color: #741a84;
    border-color: #c15d93;
    color: #fff106;
}
